/*
* names are intentionally garish to avoid overlap with any existing Slate CSS
*/
  #overlayUMich {
    overflow: auto;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75);
    z-index: 2;
    cursor: zoom-in;
  }

  #tooltipUMich {
    border-radius: 25px;
    border: 2px solid rgba(0, 39, 76, .975);
    position: fixed;
    width: 380px;
    height: 450px;
    top: 1.0%;
    right: 1.5%;
    font-size: 15px;
    color: white;
    background-color: rgba(0, 39, 76, .975);
    text-align: justify;
    padding: 16px 30px;
    cursor: auto;
  }

 #opentooltipUMich {
    border-radius:  10px;
    border: 1px solid rgba(0, 39, 76, .75);
    color: white;
    font-size: 15px;
    padding: 6px 10px;
    position: fixed;
    top: 1%;
    right: 3.5%;
    background-color: rgba(0, 39, 76, .75);
    font-weight: bold;
    cursor: pointer;
  }

/*
* button for Slate Reader to invoke overlay
*/
  #buttonUMich {
    font-size: 13px;
    position: absolute;
    right: 50%;
    height: 25px;
    margin: 0 0 0 25%;
  }

/*
* container for dots, centers dots in center
*/
  #dotContainerUMich {
    text-align: center;
    position: fixed;
    left: 50%;
    margin: 0 25% 0 0;
    bottom: 1.5%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

/*
* container for images
*/
  .mySlidesUMich {
	display: none
  }

/*
* navigation buttons on edges of screens
*/
  .prevUMich, .nextUMich {
    cursor: pointer;
    position: fixed;
    top: 0%;
    display: flex;
    height: 100%;
    align-items: center;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

/*
* needed due to scroll bar. Element becomes covered by scroll bar otherwise.
*/
  .nextUMich {
    right: 1%;
    border-radius: 3px 0 0 3px;
  }

  .prevUMich:hover, .nextUMich:hover {
    background-color: rgba(0,0,0,0.5);
    color: white !important;
  }

/*
* page number display
*/
  #numbertextUMich {
    text-align: center;
    border-radius:  10px;
    border: 1px solid rgba(0, 39, 76, .75);
    color: white;
    font-size: 15px;
    width: 100px;
    padding: 6px 10px;
    position: fixed;
    left: 50%;
    margin: 0 25% 0 0;
    top: 3%;
    background-color: rgba(0, 39, 76, .75);
    cursor: pointer;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

/*
* name and UMID of the app being displayed
*/
  #studentUMich {
    border-radius:  10px;
    border: 1px solid rgba(0, 39, 76, .75);
    color: white;
    font-size: 15px;
    padding: 6px 10px;
    position: fixed;
    top: 1%;
    left: 5px;
    background-color: rgba(0, 39, 76, .75);
    cursor: pointer;
  }

/*
* for page navigation dots on bottom
*/
  .dotUMich {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgba(0, 98, 190, 0.25);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
    position: relative;
  }

/*
* highlights the correct dot for the page
*/
  .activeUMich, .dotUMich:hover, #studentUMich:hover, #numbertextUMich:hover, #opentooltipUMich:hover {
    background-color: rgb(0,39,76);
  }

/*
* displays arrow box above corresponding dots
*/
  .dotUMich .dotHoverUMich {
    visibility: hidden;
    width: auto;
    background-color: #00274c;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border-radius: 6px;
    padding: 6px 10px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    opacity: 0;
    transition: opacity .5s;
    margin-left: inherit;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
   }

  .dotUMich .dotHoverUMich:after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #00274c transparent transparent transparent;
  }

  .dotUMich:hover .dotHoverUMich {
    visibility: visible;
    opacity: 1;
  }

/*
* CSS for pop-up tooltip. Table is used to format the tutorial text.
*/
  #tableUMich {
    margin-left: 3%;
    table-layout: fixed;
    width: 85%;
  }

  .cellKeyUMich{
    text-align: left;
    word-wrap: break-word;
    color: #ffcb05;
    font-weight: bold;
    width: 155px;
  }

  .cellNavUMich{
    text-align: left;
    width: 300px;
  }

  .cellBlankUMich{
    height: 15px;
  }
